QUESTIONS:

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */


/* Q12: Find the facilities with their usage by member, but not guests */


/* Q13: Find the facilities usage by month, but not guests */

# Instructions

- `sqlite_db_pythonsqlite.db` - This is the database file you are looking to use python to write SQL queries against.
- `SQLTask Tier 2.sql` - This is a text file with the list of questions we are looking to answer via SQL queries on `sqlite_db_pythonsqlite.db`.

In [1]:
import sqlite3

In [2]:
'''Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! '''

con = sqlite3.connect('sqlite_db_pythonsqlite.db')
cur = con.cursor()
query = 'WITH fac_rev AS (SELECT f.name,\
    CASE WHEN b.memid=0 \
    THEN b.slots * f.guestcost \
    ELSE b.slots * f.membercost \
    END AS rev \
    FROM Bookings AS b \
    LEFT JOIN `Members` AS m ON b.memid = m.memid \
    LEFT JOIN `Facilities` AS f ON b.facid = f.facid) \
    SELECT name, SUM(rev) AS total_rev \
    FROM fac_rev \
    GROUP BY name \
    ORDER BY total_rev'

for row in cur.execute(query):
    print(row)
con.close()

('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)
('Badminton Court', 1906.5)
('Squash Court', 13468.0)
('Tennis Court 1', 13860)
('Tennis Court 2', 14310)
('Massage Room 2', 14454.599999999995)
('Massage Room 1', 50351.600000000275)

In [57]:
'''Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order'''
con = sqlite3.connect('sqlite_db_pythonsqlite.db')
cur = con.cursor()
query = 'SELECT m1.surname, m1.firstname, m2.surname, m2.firstname \
    FROM Members AS m1 \
    INNER JOIN Members m2 ON m1.recommendedby = m2.memid \
    ORDER BY m1.surname, m1.firstname'

for row in cur.execute(query):
    print(row)
con.close()

('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Jack', 'Smith', 'Darren')
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

In [63]:
'''Q12: Find the facilities with their usage by member, but not guests'''
con = sqlite3.connect('sqlite_db_pythonsqlite.db')
cur = con.cursor()
query = 'SELECT (SELECT name FROM Facilities AS f WHERE f.facid=b.facid), \
    COUNT(*) \
    FROM Bookings AS b \
    WHERE memid!=0 \
    GROUP BY facid'

for row in cur.execute(query):
    print(row)
con.close()

('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Badminton Court', 344)
('Table Tennis', 385)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Squash Court', 195)
('Snooker Table', 421)
('Pool Table', 783)

In [ ]:
'''Q13: Find the facilities usage by month, but not guests'''
con = sqlite3.connect('sqlite_db_pythonsqlite.db')
cur = con.cursor()
query = 'SELECT MONTH(b.starttime) AS Month, \
    COUNT(*) \
    FROM Bookings AS b \
    WHERE memid!=0 \
    GROUP BY Month'

for row in cur.execute(query):
    print(row)
con.close()