In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession \
    .builder \
    .appName("Spark SQL Query Dataframes") \
    .getOrCreate()

In [3]:
data_path = '/Users/natha/Desktop/bootcamp_repo-1/LinkedIn_Spark_SQL_DataFrames/Exercise Files/Data'
file_path_no_header = data_path + "/utilization.csv"
df = spark.read.format("csv").option("header", "false").option("inferSchema","true").load(file_path_no_header)

df = df.withColumnRenamed("_c0", "event_datetime") \
        .withColumnRenamed ("_c1", "server_id")       \
        .withColumnRenamed("_c2", "cpu_utilization")  \
        .withColumnRenamed("_c3", "free_memory")      \
        .withColumnRenamed("_c4", "session_count")

In [4]:
df.show(10)

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
+-------------------+---------+---------------+-----------+-------------+
only showing top 10 rows

In [5]:
df.createOrReplaceTempView("utilization")

In [6]:
df_sql = spark.sql("SELECT * FROM utilization WHERE server_id = 120")
df_sql.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:48|      120|           0.66|       0.31|           54|
|03/05/2019 08:11:48|      120|           0.58|       0.38|           64|
|03/05/2019 08:16:48|      120|           0.55|       0.61|           54|
|03/05/2019 08:21:48|      120|            0.7|       0.35|           80|
|03/05/2019 08:26:48|      120|            0.6|       0.39|           71|
|03/05/2019 08:31:48|      120|           0.53|       0.35|           49|
|03/05/2019 08:36:48|      120|           0.73|       0.42|           73|
|03/05/2019 08:41:48|      120|           0.41|        0.6|           72|
|03/05/2019 08:46:48|      120|           0.62|       0.57|           57|
|03/05/2019 08:51:48|      120|           0.67|       0.44|           78|
|03/05/2019 08:56:48|      120|           0.67|       0.38|           73|
|03/05/2019 09:01:48|      120|           0.39|       0.47|           58|
|03/05/2019 09:06:48|      120|            0.5|       0.29|           78|
|03/05/2019 09:11:48|      120|           0.38|       0.38|           56|
|03/05/2019 09:16:48|      120|           0.53|       0.38|           47|
|03/05/2019 09:21:48|      120|           0.74|       0.25|           69|
|03/05/2019 09:26:48|      120|           0.53|       0.57|           73|
|03/05/2019 09:31:48|      120|           0.54|       0.64|           65|
|03/05/2019 09:36:48|      120|            0.7|       0.52|           55|
|03/05/2019 09:41:48|      120|           0.54|       0.27|           74|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [7]:
df_sql.count()

10000

In [8]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization WHERE session_count > 70")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           72|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           72|
|      100|           72|
|      100|           71|
|      100|           71|
+---------+-------------+
only showing top 20 rows

In [9]:
df_sql.count()

239659

In [10]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization WHERE session_count > 70 AND server_id = 120")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           71|
|      120|           73|
|      120|           72|
|      120|           78|
|      120|           73|
|      120|           78|
|      120|           73|
|      120|           74|
|      120|           78|
|      120|           75|
|      120|           75|
|      120|           73|
|      120|           79|
|      120|           72|
|      120|           77|
|      120|           75|
|      120|           72|
|      120|           79|
|      120|           75|
+---------+-------------+
only showing top 20 rows

In [11]:
df_sql.count()

2733

In [12]:
df_sql = spark.sql("SELECT server_id, session_count \
                   FROM utilization \
                   WHERE session_count > 70 AND server_id = 120 \
                   ORDER BY session_count DESC")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
+---------+-------------+
only showing top 20 rows