In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

data_path = '/Users/natha/Desktop/bootcamp_repo-1/LinkedIn_Spark_SQL_DataFrames/Exercise Files/Data'
file_path = data_path + "/location_temp.csv"
df1 = spark.read.format("csv").option("header", "true").load(file_path)
file_path_no_header = data_path + "/utilization.csv"
df2 = spark.read.format("csv").option("header", "false").option("inferSchema","true").load(file_path_no_header)

df2 = df2.withColumnRenamed("_c0", "event_datetime") \
        .withColumnRenamed ("_c1", "server_id")       \
        .withColumnRenamed("_c2", "cpu_utilization")  \
        .withColumnRenamed("_c3", "free_memory")      \
        .withColumnRenamed("_c4", "session_count")

In [2]:
df1.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [3]:
df1.count()

500000

In [7]:
df_s1 = df1.sample(fraction=0.1,withReplacement=False)

In [8]:
df_s1.count()

50101

In [9]:
df_s1.groupBy("location_id").agg({'temp_celcius': 'mean'}).show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|      loc22|            28.375|
|      loc31|24.641304347826086|
|      loc82|27.346153846153847|
|      loc90|23.147727272727273|
|     loc118| 24.21551724137931|
|      loc39|25.178571428571427|
|      loc75|23.428571428571427|
|     loc122|32.198019801980195|
|      loc24|31.377551020408163|
|      loc30|30.091836734693878|
+-----------+------------------+
only showing top 10 rows

In [10]:
df_s1.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|29.135135135135137|
|       loc1| 28.43243243243243|
|      loc10|25.314285714285713|
|     loc100|27.162790697674417|
|     loc101|25.207207207207208|
|     loc102|30.201834862385322|
|     loc103|25.105263157894736|
|     loc104|25.958333333333332|
|     loc105|26.508928571428573|
|     loc106|27.339805825242717|
+-----------+------------------+
only showing top 10 rows

In [11]:
df1.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
+-----------+-----------------+
only showing top 10 rows

In [12]:
df_s2 = df1.sample(fraction=0.001,withReplacement=False)

In [13]:
df_s2.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|             29.0|
|       loc1|             32.5|
|     loc100|             25.0|
|     loc102|             29.5|
|     loc103|             24.0|
|     loc104|             25.5|
|     loc105|             26.0|
|     loc109|             23.0|
|     loc111|             30.0|
|     loc113|             30.0|
+-----------+-----------------+
only showing top 10 rows